<!-- <%= user.inspect %> -->


  <div class="row" style="margin: 10px 0;">
    <div class="col-xs-4"><%= gravatar_for user %></div>
     <h4 class="col-xs-4" >名前: <%= user.name %></h4>
     <h4 class="col-xs-4">地域: <%= user.location %></h4>
  </div>

